<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mySqlConnectionString" connectionString="server=localhost;userid=root;password=Abvuigsug132478@;database=daemondb" />
  </connectionStrings>
  <appSettings>
    <add key="urlFiles" value="https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/" />
    <add key="urlFilesHist" value="https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/HIST/" />
  </appSettings>
</configuration>
